
body {
  overflow-x: hidden;
}





h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, ul, p, figure {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle !important;
}

ul,ol{
  list-style: none;
}

a {
  display: block !important;
  text-decoration: none !important;

}